Repository munirmardinli/react-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, codeing, tests, dependencies, configuration, workflow

.github/labeler.yml:

documentation:
 - changed-files:
    - any-glob-to-any-file: "**/*.md"
 - changed-files:
    - any-glob-to-any-file: alertmanager-gotify.postman_collection.json
 - changed-files:
    - any-glob-to-any-file: "README.md"

codeing:
 - changed-files:
    - any-glob-to-any-file: "src/index.ts"

tests:
 - changed-files:
    - any-glob-to-any-file: "**/*.test.*"

dependencies:
 - changed-files:
    - any-glob-to-any-file: "package.json"
 - changed-files:
    - any-glob-to-any-file: "package-lock.json"

configuration:
 - changed-files:
    - any-glob-to-any-file: "*.config.*"
 - changed-files:
    - any-glob-to-any-file: "tsconfig.json"
 - changed-files:
    - any-glob-to-any-file: ".env*"
 - changed-files:
    - any-glob-to-any-file: "dotenv.d.ts"

workflow:
 - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"
 - changed-files:
    - any-glob-to-any-file: ".github/actions/**"
 - changed-files:
    - any-glob-to-any-file: "Dockerfile*"
 - changed-files:
    - any-glob-to-any-file: "server.yml"

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  62c7bba088b84a4921cabe8b3e8cf4329b336717
Labels: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Labels: documentation

deploy: 8fe29175946271850fe33cc94bda5e1c20cd3393
  sitemap.xml
Labels: none

Notes added by 'git notes add'
  acce50c58695482979964bd6360a771bd74042d2
Labels: none

fix: bug fix zustand
  README.md
  package-lock.json
  package.json
  src/stores/changeModeStore.ts
  src/types.d.ts
Labels: documentation, dependencies

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  52209e74d51cf87f7524914b8652436743222954
Labels: none

chore: ug fix workflow
  .github/workflows/producation.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  7b37dc1ba116fcd4c088fa0ef4184789fd7299a5
Labels: none

fix: bug fix Upload artifacts
  .github/workflows/producation.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

feat: init jest and fix autor jsdocs
  .github/workflows/producation.yml
  .npmignore
  README.md
  jest.config.ts
  package-lock.json
  package.json
  src/hooks/useAuthHook.ts
  src/hooks/useBreakpoint.ts
  src/hooks/useLanguageEffect.ts
  src/hooks/usePostRequest.ts
  src/hooks/useThemeFromCookies.ts
  src/index.ts
  src/stores/changeLanguageStore.ts
  src/stores/changeModeStore.ts
  src/stores/selectedLanguageMenuStore.ts
  src/stores/snackbarStore.ts
  src/stores/useCookieStore.ts
  src/types.d.ts
  src/utils/globals.test.ts
  src/utils/globals.ts
  tsconfig.json
Labels: documentation, codeing, tests, dependencies, configuration, workflow

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  daa31ded7cf1feec06794109275a3bd334844ab8
Labels: none

feat: add Codecov in cicd
  .github/workflows/producation.yml
  README.md
  package-lock.json
  package.json
Labels: documentation, dependencies, workflow

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  c73f7d2c0b2bee049bac2424fc699b59aec9a2ae
Labels: none

feat: add codecov workflow
  .github/codecov.yml
  package-lock.json
  package.json
Labels: dependencies

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  73db33af6b04c4ca7a23fe1787007ec47ce489a0
Labels: none

feat: test codecov
  .github/codecov.yml
  .github/workflows/producation.yml
  codecov.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  bf165c4ebb8f7bb6c5fa9cb81997bbde447a9c57
Labels: none

test: add stores test
  .github/codecov.yml
  .github/workflows/producation.yml
  codecov.yml
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  src/hooks/useLanguageEffect.ts
  src/index.ts
  src/stores/changeLanguageStore.ts
  src/stores/changeModeStore.ts
  src/stores/selectedLanguageMenuStore.ts
  src/stores/useCookieStore.ts
  src/types.d.ts
  src/utils/globals.test.ts
  src/utils/globals.ts
  test/hooks/.gitkeep
  test/stores/changeModeStore.test.ts
  test/stores/selectedLanguageMenuStore.test.ts
  test/stores/snackbarStore.test.ts
  test/stores/useCookieStore.test.ts
  tsconfig.json
  tsconfig.test.json
Labels: codeing, tests, dependencies, configuration, workflow

fix: bug fix tsconfig invalid file
  .husky/pre-commit
  package-lock.json
  package.json
  tsconfig.json
Labels: dependencies, configuration

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  db11eb6c25a856b0d0fb2f6a300032a1956eee2f
Labels: none

pref: move tsconfig to npm settings and delete jest setup and test
  .github/workflows/producation.yml
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  src/index.ts
  src/stores/useCookieStore.ts
  src/types.ts
  test/hooks/.gitkeep
  test/stores/changeModeStore.test.ts
  test/stores/selectedLanguageMenuStore.test.ts
  test/stores/snackbarStore.test.ts
  test/stores/useCookieStore.test.ts
  tsconfig.json
  tsconfig.test.json
Labels: codeing, tests, dependencies, configuration, workflow

fix: bug fix type path
  codecov.yml
  package-lock.json
  package.json
Labels: dependencies

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  0f257e55a139dcbda1b6e6d1e24ca9132d873c24
Labels: none

deploy: 5392d27a16b2a5f4035f8c2860327f3548f9750d
  sitemap.xml
Labels: none

fix: bug fix hooks and store implementation
  package-lock.json
  package.json
  src/hooks/useAuthHook.ts
  src/hooks/useBreakpoint.ts
  src/hooks/useLanguageEffect.ts
  src/hooks/usePostRequest.ts
  src/hooks/useThemeFromCookies.ts
  src/index.ts
  src/stores/changeLanguageStore.ts
  src/stores/changeModeStore.ts
  src/stores/selectedLanguageMenuStore.ts
  src/stores/snackbarStore.ts
  src/stores/useCookieStore.ts
  src/types.ts
  src/types/index.ts
  tsconfig.json
Labels: codeing, dependencies, configuration

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  62b2dfdfe30c8529dfa50b1db86eadafaba8dc0f
Labels: none

chore: bug fix public npm
  .github/workflows/producation.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

chore: restore workflow
  .github/workflows/producation.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  2b5f3fd4d4c8dba8d0c9ef01de0cfc8661d95e8b
Labels: none
