Repository munirmardinli/react-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, codeing, tests, dependencies, configuration, workflow

.github/labeler.yml:

documentation:
 - changed-files:
    - any-glob-to-any-file: "**/*.md"
 - changed-files:
    - any-glob-to-any-file: alertmanager-gotify.postman_collection.json
 - changed-files:
    - any-glob-to-any-file: "README.md"

codeing:
 - changed-files:
    - any-glob-to-any-file: "src/index.ts"

tests:
 - changed-files:
    - any-glob-to-any-file: "**/*.test.*"

dependencies:
 - changed-files:
    - any-glob-to-any-file: "package.json"
 - changed-files:
    - any-glob-to-any-file: "package-lock.json"

configuration:
 - changed-files:
    - any-glob-to-any-file: "*.config.*"
 - changed-files:
    - any-glob-to-any-file: "tsconfig.json"
 - changed-files:
    - any-glob-to-any-file: ".env*"
 - changed-files:
    - any-glob-to-any-file: "dotenv.d.ts"

workflow:
 - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"
 - changed-files:
    - any-glob-to-any-file: ".github/actions/**"
 - changed-files:
    - any-glob-to-any-file: "Dockerfile*"
 - changed-files:
    - any-glob-to-any-file: "server.yml"

feat: add test
  .codesandbox/ci.json
  .cursor/config.json
  .cursor/settings.json
  .cursor/workspace-settings.json
  .github/workflows/producation.yml
  .vscode/settings.json
  jest.config.ts
  package-lock.json
  package.json
  src/hooks/useAuthHook.ts
  src/hooks/useBreakpoint.ts
  src/hooks/useLanguageEffect.ts
  src/hooks/usePostRequest.ts
  src/hooks/useThemeFromCookies.ts
  src/index.ts
  src/stores/changeLanguageStore.ts
  src/stores/changeModeStore.ts
  src/stores/selectedLanguageMenuStore.ts
  src/stores/snackbarStore.ts
  src/stores/useCookieStore.ts
  src/types/index.ts
  test/hooks/useBreakpoint.test.ts
  test/hooks/useLanguageEffect.test.ts
  test/hooks/usePost.test.ts
  test/hooks/useThemeFromCookies.test.ts
  test/stores/changeLanguageStore.test.ts
  test/stores/changeModeStore.test.ts
  test/stores/selectedLanguageMenuStore.test.ts
  test/stores/snackbarStore.test.ts
  test/stores/useCookieStore.test.ts
  tsconfig.base.json
  tsconfig.docs.json
  tsconfig.json
  tsconfig.test.json
  typedoc.json
Labels: codeing, tests, dependencies, configuration, workflow

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  1d307f9d11fa1b9760e5f0287ff9cd98ce373589
Labels: none

feat: add codecov and more slugs in readme
  .github/workflows/producation.yml
  README.md
  package-lock.json
  package.json
Labels: documentation, dependencies, workflow

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  d57f25e2c2c420737d71a868bfea385bfcfa71c9
Labels: none

feat: add codesandbox and devcontainer
  .codesandbox/ci.json
  .devcontainer/devcontainer.json
  .github/workflows/codesandbox.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  afea03361dd8f72dc5fbb8c18129dc6071788f88
Labels: none

fix: bug fix users version
  .github/workflows/codesandbox.yml
  README.md
  package-lock.json
  package.json
Labels: documentation, dependencies, workflow

feat: trivy
  .codesandbox/ci.json
  .github/workflows/codesandbox.yml
  .github/workflows/producation.yml
  package-lock.json
  package.json
Labels: dependencies, workflow

fix: delete trivy
  .github/workflows/producation.yml
  .trivyignore
  package-lock.json
  package.json
Labels: dependencies, workflow

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  4dcd197d508a157d709527a04222830cb5bfede6
Labels: none

deploy: b5641cebf81d062c71b091c9c6bbe0497d014001
  assets/style.css
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  docs.json
  sitemap.xml
Labels: none

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  57d4274485cb44584124ea5dded6326f64db3269
Labels: none

deploy: fe7663cb40a0a5e78e191691bfbb2aedc71cc704
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  fe0d29d3b08c073a7451cac53468f46966aefc93
Labels: none

deploy: b7a0aa4af7609ec7bddcc6e70d984c4a0aa46186
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

Notes added by 'git notes add'
  20a674bffd97b8d952fdf0dbe7f4a06dbd4f0fc1
Labels: none

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
Labels: documentation

deploy: 4030fda845c9de821e7c4580952a6231607e230c
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

chore(release): 1.8.4 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  81198591c2377a5123c111e2f456e239cd1649a2
Labels: none

deploy: 85eb963004997c9365d20721642ea262b0d07426
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

pref: move tsconf files to config folder
  .trivyignore
  config/tsconfig.base.json
  config/tsconfig.docs.json
  config/tsconfig.test.json
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.docs.json
  tsconfig.json
  typedoc.json
Labels: tests, dependencies, configuration

fix: fix slug on readme
  README.md
  config/tsconfig.docs.json
Labels: documentation

Notes added by 'git notes add'
  e950c77e5b6c141b3368302af67152758f1332c0
Labels: none

chore(release): 1.8.5 [skip ci]
  CHANGELOG.md
Labels: documentation

deploy: 7772b47ce18b8828e2e4537b28fee1784857ba89
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  docs.json
  index.html
  sitemap.xml
Labels: none

chore(release): 1.8.6 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  3803fc77e04203b7471bdb908ab6526d9ac138dc
Labels: none

deploy: c61b1df34ab2b646661838099ce83303ede87ef2
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

chore(release): 1.8.7 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  7046fcbd1f939a507cb3c4384b66c6965b0eae22
Labels: none

deploy: 8b289a23f01cb2768ee26ae6432fd0dc763446ef
  coverage/hooks/index.html
  coverage/hooks/useBreakpoint.ts.html
  coverage/hooks/useLanguageEffect.ts.html
  coverage/hooks/usePostRequest.ts.html
  coverage/hooks/useThemeFromCookies.ts.html
  coverage/index.html
  coverage/lcov-report/hooks/index.html
  coverage/lcov-report/hooks/useBreakpoint.ts.html
  coverage/lcov-report/hooks/useLanguageEffect.ts.html
  coverage/lcov-report/hooks/usePostRequest.ts.html
  coverage/lcov-report/hooks/useThemeFromCookies.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/stores/changeLanguageStore.ts.html
  coverage/lcov-report/stores/changeModeStore.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/selectedLanguageMenuStore.ts.html
  coverage/lcov-report/stores/snackbarStore.ts.html
  coverage/lcov-report/stores/useCookieStore.ts.html
  coverage/lcov.info
  coverage/stores/changeLanguageStore.ts.html
  coverage/stores/changeModeStore.ts.html
  coverage/stores/index.html
  coverage/stores/selectedLanguageMenuStore.ts.html
  coverage/stores/snackbarStore.ts.html
  coverage/stores/useCookieStore.ts.html
  sitemap.xml
Labels: none

chore(release): 1.8.8 [skip ci]
  CHANGELOG.md
Labels: documentation

Notes added by 'git notes add'
  f451d95efafc28dbcee0281615c63b4f2fe37cf7
Labels: none
